/* Estilos para o botão do dropdown */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Estilos para o contêiner do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilos para os links do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

/* Estilos para os links quando o cursor está sobre eles */
.dropdown-content a:hover {
    background-color: #ddd;
}
