@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Teko:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:regular,italic,700,700italic);

* {
    transition: transform .5s ease;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;

}

.logo {
    height: 10vh;
}

hr {
    border: darkorange solid 1px;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

h1 {
    color: darkorange;
    display: flex;
    justify-content: center;
    font-size: 10vh;
    margin-bottom: 30px;
    margin-top: 10vh;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
}

.triangulos {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.tropa {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease;
}

.tropa .trin1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    overflow: hidden;
    margin: 0 -5vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.tropa .trin2 {
    position: relative;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 -5vh;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.p1 {
    color: #FFDAC3;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-family: 'Atkinson Hyperlegible';
}

.p2 {
    color: #FFDAC3;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-family: 'Atkinson Hyperlegible';
}

.p3 {
    color: #FFDAC3;
    margin-top: 20px;
    display: none;
    justify-content: center;
    font-size: 5vh;
    font-family: 'Atkinson Hyperlegible';
}

.tropa :hover img {
    transition: transform .5s ease;
}

.tropa :hover img {
    transform: scale(1.5);
}

.hover {
    transition: transform .5s ease;
}

.hover:hover .p1 {
    color: #FC9443;
}

.hover:hover .p2 {
    color: #FC9443;
}

.hover:hover .p3 {
    color: #FC9443;
}

.pcc {
    width: 50vh;
    height: 33vh;
}

@media (max-width: 750px) {
    .tropa {
        flex-direction: column;
        gap: 5vh;
    }

    .pcc {
        width: 35vh;
        height: 30vh;
    }

    .tropa .trin2,
    .tropa .trin1 {
        width: 30vh;
    }

    h1 {
        font-size: 5vh;
    }

    .tropa .trin1 {
        clip-path: circle(50% at 50% 50%);
    }

    .tropa .trin2 {
        clip-path: circle(50% at 50% 50%);
    }

    .p1 {
        margin-bottom: 40px;
    }

    .p2 {
        display: none;
    }

    .p3 {
        display: flex;
        margin-bottom: 40px;
    }
}